{
  email ops@elfadil.com
}

portals.elfadil.com {
  encode gzip
  reverse_proxy portals-api:8080
}

oracle-scanner.elfadil.com {
  encode gzip
  reverse_proxy scanner-api:8081
}

grafana.elfadil.com {
  encode gzip
  reverse_proxy grafana:3000
}
